
<ion-header>

        <ion-navbar color="dark">
            
            <button ion-button icon-only outline color="light" (click)="Exit()"><ion-icon name="exit"></ion-icon></button>
           
        </ion-navbar>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>  
      </ion-header>
      

<ion-content padding>
        <ion-grid class="grid-categories">
                <ion-row *ngFor="let categorie of products; let i = index" >
                  <ion-col *ngIf="i % 2 == 0"  (click)="showData(categorie.id)">
                    <img [src]="categorie.url" />
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
            
              <ion-grid class="grid-categories">
                <ion-row *ngFor="let categorie of products; let i = index" >
                  <ion-col *ngIf="i % 2 != 0"  (click)="showData(categorie.id)">
                    <img [src]="categorie.url" />
                  </ion-col>
                </ion-row>
        </ion-grid>
  
</ion-content>
